:root {
  --font-family-primary: 'Poppins', sans-serif;
}

/* Basic resets */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  background-color: #e5e5e5;
}

/* Styling for toolbar */

.toolbar {
  background-color: #fff;
}

.toolbar ul {
  display: flex;
  justify-content: space-between;
  padding: 1.5em 0;
}

.toolbar ul a {
  text-decoration: none;
}

.socials ul a {
  text-decoration: none;
}

.toolbar > ul:first-child a {
  text-transform: capitalize;
  font-family: var(--font-family-primary);
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
}

/* Utilities */
.container {
  width: 90%;
  margin: 0 auto;
}

button:hover {
  background: #6070ff;
  color: #fff;
  border: none;
  cursor: pointer;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
}

.btn {
  font-family: var(--font-family-primary);
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #396df2;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 48px;
  padding: 0 1em;
}

.btn-outline {
  color: #396df2;
  background: #fff;
}

.btn-enabled {
  background-color: #e5e5e5;
  color: #6070ff;
  border: 1px solid #7f8cff;
}

.btn-hover {
  background: #6070ff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.btn-pressed {
  background: #2230d2;
  color: #fff;
}

.dot {
  display: inline-flex;
  align-items: center;
  width: 8px;
  height: 8px;
  background-color: #c1c7d0;
  border-radius: 100%;
  margin: 0 0.5em;
}

.btn-disabled {
  color: #5e6c84;
  background-color: #e5e5e5;
}

.icon {
  height: 24px;
  width: 24px;
}

.lets-connect {
  display: block;
  text-transform: uppercase;
  font-family: var(--font-family-primary);
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

/* Styling for headline section */
.headline {
  background-image: url("../assets/images/header-shapes-mobile.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 718px;
  width: 100%;
  top: 0;
  background-color: #fff;
  border-bottom-left-radius: 5rem;
  margin-bottom: 3em;
}

.headline h1 {
  padding-top: 6rem;
  font-size: 40px;
  line-height: 52px;
  font-weight: 700;
  font-family: var(--font-family-primary);
  color: #172b4d;
}

.headline p {
  font-family: var(--font-family-primary);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  padding: 0.8em 0;
}

.socials {
  margin: 1em 0;
}

.social-icon {
  width: 19px;
}

.socials ul {
  display: flex;
  align-items: flex-end;
  margin-left: -0.1rem;
}

.socials ul li {
  margin-right: 0.8em;
}

/* Styling for works section */
.works {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-row-gap: 2.5em;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 16px;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

.card-body h3 {
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  font-family: var(--font-family-primary);
  color: #172b4d;
}

.card-body ul,
.card-footer ul {
  display: flex;
  align-items: flex-end;
  margin: 1.2em 0;
}

.card-body ul > li,
.card-footer ul > li {
  margin-right: 0.6em;
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  font-family: var(--font-family-primary);
  color: #7a869a;
}

.card-footer ul li {
  padding: 4px 12px;
  height: 24px;
  width: auto;
  background-color: #ebebff;
  border-radius: 8px;
}

.about-myself > div > ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0.5em;
}

.card-body > ul li:first-child {
  color: #344563;
}

.card-body p {
  font-family: var(--font-family-primary);
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

/* About myself section */
.about-myself {
  background-color: #fff;
  padding: 2em 0;
  margin-top: 5rem;
}

.about-myself .title {
  font-family: var(--font-family-primary);
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  margin-bottom: 0.6em;
}

.about-myself .body {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-family: var(--font-family-primary);
  color: #344563;
}

.about-myself > div > ul {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  font-family: var(--font-family-primary);
}

/* Styling for contact me section */

.contact-section {
  background: url("../assets/images/contact-form-shapes-mobile.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 1em 0;
  background-color: #6070ff;
  border-top-left-radius: 5rem;
}

.contact-section h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #fff;
  text-align: center;
  font-family: var(--font-family-primary);
  margin: 2em 0 0.25em 0;
}

.contact-section p {
  color: #ebebff;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  font-family: var(--font-family-primary);
  margin: 0 0 2em 0;
}

.contact-section form {
  display: flex;
  flex-direction: column;
}

.contact-section input,
.btn,
textarea {
  border: 1px solid #cfd8dc;
  border-radius: 8px;
}

.contact-section button {
  width: 140px;
}

.contact-section input,
textarea {
  width: 100%;
  margin-bottom: 1em;
  padding: 0.5em;
  font-family: var(--font-family-primary);
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
}

.contact-section input {
  height: 48px;
  color: #172b4d;
}

.contact-section textarea {
  color: #b3bac5;
  width: 100%;
  height: 170px;
}

@media screen and (min-width: 768px) {
  .headline {
    background-image: url("../assets//images/header-shapes-desktop.png");
  }

  .headline .line-break::before {
    content: "\a";
    white-space: pre;
  }

  .headline h1, .headline p {
    width: 50%;
  }

  .headline .socials {
    margin-left: 21%;
  }

  .card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 245px 245px;
    grid-column-gap: 46px;
    grid-row-gap: 10px;
  }

  .card-footer {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    margin-top: -2.5rem;
  }

  .about-myself .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 150px 150px;
    grid-column-gap: 46px;
  }

  .about-myself .content > .title,
  .body,
  .socials,
  .btn {
    grid-column: 1 / 2;
  }

  .about-myself .languages {
    grid-column: 2;
    grid-row: 1 / 2;
  }

  .about-myself .btn {
    max-width: max-content;
  }
 
}
