/* Basic resets */
*,
*:before,
*:after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Styling for toolbar */
.toolbar ul {
  display: flex;
  justify-content: space-between;
  padding: 1.5em 0;
}

.toolbar ul a {
  text-decoration: none;
}


/* Styling for headline section */
.headline {
  padding: 1em 0;
}

.headline h1 {
  width: 40%;
  font-size: 40px;
  line-height: 52px;
  font-weight: 700;
  font-family: "Poppins";
  color: #172B4D;
}

.headline p {
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.headline span {
  display: block;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7F8CFF;
}

