:root {
  --font-family-primary: 'Poppins', sans-serif;
}

/* Basic resets */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  background-color: #e5e5e5;
}


/* Styling for toolbar */
.toolbar {
  background-color: #ffffff;
}

.toolbar ul {
  display: flex;
  justify-content: space-between;
  padding: 1.5em 0;
}

.toolbar ul a {
  text-decoration: none;
}

.socials ul a {
  text-decoration: none;
}

.toolbar>ul:first-child a {
  text-transform: capitalize;
  font-family: var(--font-family-primary);
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
}

/* Utilities */
.container {
  width: 90%;
  margin: 0.5rem auto;
}

.btn-outline {
  font-family: var(--font-family-primary);
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #396df2;
  background: #ffffff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 124px;
  height: 48px;
}

.dot {
  display: inline-flex;
  align-items: center;
  width: 8px;
  height: 8px;
  background-color: #c1c7d0;
  border-radius: 100%;
  margin: 0 0.5em;
}

/* Styling for headline section */
.headline {
  background: url("../assets/images/header-shapes-mobile.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 718px;
  top: 0;
  background-color: #ffffff;
  border-bottom-left-radius: 5rem;
}

.headline h1 {
  padding-top: 6rem;
  font-size: 40px;
  line-height: 52px;
  font-weight: 700;
  font-family: var(--font-family-primary);
  color: #172b4d;
}

.headline p {
  font-family: var(--font-family-primary);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  padding: 0.8em 0;
}

.headline span {
  display: block;
  text-transform: uppercase;
  font-family: var(--font-family-primary);
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

.socials {
  margin: 1em 0;
}

.social-icon {
  width: 19px;
}

.socials ul {
  display: flex;
  align-items: flex-end;
}

.socials ul li {
  margin-right: 0.8em;
}

/* Styling for works section */
.works {
  display: grid;
  grid-template-columns: 100%;
}

.card{
  background-color: #ffffff;
  padding: 16px;
  border: 1px solid #DFE1E6;
  border-radius: 16px;
}

.card-header h3 {
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  font-family: var(--font-family-primary);
  color: #172b4d;
}

.card-body ul, .card-footer ul {
  display: flex;
  align-items: flex-end;
  margin: 1.2em 0;
}

.card-body ul > li, .card-footer ul > li {
  margin-right: 0.6em;
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
  font-family: var(--font-family-primary);
  color: #7a869a;
}

.card-body ul:first-child {
  color: #344563;
}

.card-body p {
  font-family: var(--font-family-primary);
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.card-footer ul li {
  padding: 4px 12px;
  height: 24px;
  width: auto;
  background-color: #ebebff;
  border-radius: 8px;
}
